<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NDESIGN{% endblock %}</title>
        {# Typo de base #}
        <link href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        {# CSS #}
        {% block stylesheets %}
            {% stylesheets '@Style_Main' %}
                <link rel="stylesheet" href=" {{ asset_url }} "/>
            {% endstylesheets %}
        {% endblock stylesheets %}

        {# Favicon #}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon-svg.svg') }}" />
    </head>
    <body>

    {# HEADER #}
    <header>

        {# Logo #}
        <img src="{{ asset('assets/img/logo-ndesign-svg.svg') }} " alt="Logo NDesign" class="logo-ndesign">

        {# Fond blanc #}
        <span class="header">
            {# Barre de recherche #}
            <input type="search" name="" id="" placeholder="Rechercher" class="search">
            <a href="#">
                <img src="{{ asset('assets/img/search.svg') }} " alt="Icône recherche" class="icone-search">
            </a>        
            {# Icône panier #}
            <a href="#">
                <img src="{{ asset('assets/img/panier.svg') }} " alt="Icône panier" class="icone-panier">        
            </a>
            {# Icône user #}
            <a href="#">
                <img src="{{ asset('assets/img/user.svg') }} " alt="Icône user" class="icone-user">        
            </a>
        </span>

    </header>

        <div class="clear"></div>

        <main role="main">

            {% block body %}{% endblock %}

        </main>

        <div class="clear"></div>        

    {# FOOTER #}
    <div class="to-the-top"><a href="#" class="to-the-top">Haut de<br><div class="mot-page">page</div></a></div>

    <footer>      

        {# Bloc de liens #}
        <div class="liens-footer">
            <div><a href="#" class="lien-a">Conditions Générales d'Utilisation</a></div>
            <div><a href="#" class="lien-a">Conditions Générales de Vente</a></div>
            <div><a href="#" class="lien-a">Politique de confidentialité</a></div>
            <div><a href="#" class="lien-a">Tarification</a> - Paiement 100% sécurisé</div>
        </div>

        {# Image contact #}
        <a href="#">        
            <img src="{{ asset('assets/img/contact.svg') }} " alt="Image contact" class="image-contact">
        </a>

        {# Image team #}
        <a href="#">        
            <img src="{{ asset('assets/img/team.svg') }} " alt="Team" class="icone-team" title="DECK">
        </a>

        {# Ajouter un if(isLog) #}
        {# Logo admin #}
        <a href="#">        
            <img src="{{ asset('assets/img/logo-admin.svg') }} " alt="Logo-admin" class="logo-admin">
        </a>

    </footer>
   
        {# Script JQuery #}
        {% block javascripts %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        {% endblock %}

    </body>
</html>
