<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NDESIGN{% endblock %}</title>
        {# Typo de base #}
        <link href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        {# CSS #}
        {% block stylesheets %}
            {% stylesheets '@Style_Main' %}
                <link rel="stylesheet" href=" {{ asset_url }} "/>
            {% endstylesheets %}
        {% endblock stylesheets %}

        {# Favicon #}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.jpg') }}" />
    </head>
    <body>

    {# HEADER #}
    <header>

        {# Logo #}
        <img src="{{ asset('assets/img/logo-ndesign-svg.svg') }} " alt="Logo NDesign" class="logo-ndesign">

        {# Fond blanc #}
        <span class="header">
            {# Barre de recherche #}
            <input type="search" name="" id="" placeholder="Rechercher" class="search">
            <a href="#">
                <img src="{{ asset('assets/img/search.svg') }} " alt="Icône recherche" class="icone-search">
            </a>        
            {# Icône panier #}
            <a href="#">
                <img src="{{ asset('assets/img/panier.svg') }} " alt="Icône panier" class="icone-panier">        
            </a>
            {# Icône user #}
            <a href="#">
                <img src="{{ asset('assets/img/user.svg') }} " alt="Icône user" class="icone-user">        
            </a>
        </span>

    </header>

        <div class="clear"></div>

        <main role="main">

            {% block body %}{% endblock %}

        </main>

        <div class="clear"></div>        

    {# FOOTER #}
    <footer>      

        <a href="#">
            <img src="{{ asset('assets/img/contact.png') }}" alt="" class="img-contact">
        </a>

        <a href="#">
            <img src="{{ asset('assets/img/logo-ndesign-bw-svg.svg') }}" alt="" class="logo-nb">
        </a>

    </footer>
   
        {# Script JQuery #}
        {% block javascripts %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        {% endblock %}

    </body>
</html>
