<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NDESIGN{% endblock %}</title>
        {# Typo de base #}
        <link href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        {# CSS #}
        {% block stylesheets %}
            {% stylesheets '@Style_Main' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock stylesheets %}

        {# Favicon #}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}" />
    </head>
    <body>

    {# HEADER #}
    <header>

        {# Logo #}
        <img src="{{ asset('assets/img/logo-ndesign-svg.svg') }}" alt="Logo NDesign" class="logo-ndesign">

        {# Barre de navigation #}
        <span class="header">
            {# Barre de recherche #}
            <div class="rechercher">
                <input type="search" name="" id="" placeholder="Rechercher" class="search">
                <a href="#">
                    <img src="{{ asset('assets/img/search.svg') }}" alt="Icône recherche" class="icone-search">
                </a>        
            </div>
            {# Icône panier #}
            <a href="#">
                <img src="{{ asset('assets/img/panier.svg') }}" alt="Icône panier" class="icone-panier">        
            </a>
            {# Icône user #}
            <a href="#">
                <img src="{{ asset('assets/img/user.svg') }}" alt="Icône user" class="icone-user">        
            </a>
        </span>

    </header>
    {# FIN HEADER #}

        <div class="clear"></div>

            {% block body %}{% endblock %}

        <div class="clear"></div>        

    {# FOOTER #}
    <footer>

        {# Image contact #}
        <a href="#">        
            <img src="{{ asset('assets/img/contact.svg') }}" alt="Image contact" class="image-contact" title="Contactez-nous !">
        </a>

        {# Image team #}
        <a href="#">        
            <img src="{{ asset('assets/img/team.svg') }}" alt="Team" class="icone-team" title="DECK">
        </a>

        {# Liens du footer #}
        <div class="liens-footer">
            <span><a href="#" class="lien-a">Conditions Générales d'Utilisation</a> &ndash; </span>
            <span><a href="#" class="lien-a">Conditions Générales de Vente</a> &ndash; </span>
            <span><a href="#" class="lien-a">Politique de confidentialité</a> &ndash; </span>
            <span><a href="#" class="lien-a">Tarification</a> (Paiement 100% sécurisé)</span>
            {# Ajouter un if #}
            <span> &ndash; <a href="#" class="lien-a">Administration</a></span>  

            <div>&copy; NDesign &ndash; 2018 &ndash; Création DECK</div>
        </div>

    </footer>
    {# FIN FOOTER #}
   
        {% block javascripts %}
        
        {# Script JQuery #}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        {% endblock %}

    </body>
</html>
