<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ndesign - Dashboard</title>

<link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('template/css/datepicker3.css') }}" rel="stylesheet">
<link href="{{ asset('template/css/styles.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/admin.css') }}" rel="stylesheet">

<!--Icons-->
<script src="{{ asset('template/js/lumino.glyphs.js') }}"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('app_homepage')}}"><span>Ndesign</span>Admin</a>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li><a href="{{ path('app_dashboard') }}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li><a href="{{ path('app_icons') }}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
			<li><a href="{{ path('app_users') }}"><svg class="glyph stroked male user"><use xlink:href="#stroked-male-user"></svg> Users List</a></li>
			<li><a href="{{ path('app_produits') }}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"/></svg><use xlink:href="#stroked-male-user"></svg> Product List</a></li>
			<li><a href="{{ path('app_admin_contact') }}"><svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"/></svg><use xlink:href="#stroked-male-user"></svg> Contact</a></li>
			<li><a href="{{ path('app_commandes') }}"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg><use xlink:href="#stroked-male-user"></svg> Commandes</a></li>
			<li role="presentation" class="divider"></li>
		</ul>

	</div><!--/.sidebar-->
	<div class="container">
	    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    {% block body %}{% endblock body %}
	</div>
	</div>



	<script src="{{ asset('template/js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ asset('template/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('template/js/chart.min.js') }}"></script>
	<script src="{{ asset('template/js/easypiechart.js') }}"></script>
	<script src="{{ asset('template/js/easypiechart-data.js') }}"></script>
	<script src="{{ asset('template/js/bootstrap-datepicker.js') }}"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
