{% extends ('base.html.twig') %}

{% block body %}

    {# Image contact #}
    <div class="thumbnail">
        <img src="{{ asset('assets/img/bg-p-templates.jpg') }}" alt="" class="img-all">
    </div>

    {# CONTENU PRINCIPAL #}
    <main role="main">

        {# APERCUS TEMPLATES #}
        <div class="templates-all">

            <a href="" class="single-template-all">
                <div class="template-all">
                    <img class="image-template-all" src="{{ asset('assets/img/template1.png') }}" alt="Image de template">
                    <div class="textes-template-all">
                        <h5 class="titre-template-all">AltoFocus</h5>                      
                    </div>
                </div>
            </a>

            <a href="" class="single-template-all">
                <div class="template-all">
                    <img class="image-template-all" src="{{ asset('assets/img/template2.png') }}" alt="Image de template">
                    <div class="textes-template-all">
                        <h5 class="titre-template-all">Small Business</h5>                      
                    </div>
                </div>
            </a>

            <a href="" class="single-template-all">
                <div class="template-all">
                    <img class="image-template-all" src="{{ asset('assets/img/template3.png') }}" alt="Image de template">
                    <div class="textes-template-all">
                        <h5 class="titre-template-all">Spatial</h5>                      
                    </div>
                </div>
            </a>

        </div>
        {# FIN APERCUS TEMPLATES #}

        {# APERCUS TEMPLATES #}
        <div class="templates">

            <a href="" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template1.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">AltoFocus</h5>                      
                    </div>
                </div>
            </a>

            <a href="" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template2.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">Small Business</h5>                      
                    </div>
                </div>
            </a>

            <a href="{{ path('app_single',{'id': 1}) }}" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template3.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">Spatial</h5>                      
                    </div>
                </div>
            </a>

        </div>
        {# FIN APERCUS TEMPLATES #}

        {# APERCUS TEMPLATES #}
        <div class="templates">

            <a href="" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template1.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">AltoFocus</h5>                      
                    </div>
                </div>
            </a>

            <a href="" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template2.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">Small Business</h5>                      
                    </div>
                </div>
            </a>

            <a href="{{ path('app_single',{'id': 1}) }}" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template3.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">Spatial</h5>                      
                    </div>
                </div>
            </a>

        </div>
        {# FIN APERCUS TEMPLATES #}

        {# APERCUS TEMPLATES #}
        <div class="templates">

            <a href="" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template1.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">AltoFocus</h5>                      
                    </div>
                </div>
            </a>

            <a href="" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template2.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">Small Business</h5>                      
                    </div>
                </div>
            </a>

            <a href="{{ path('app_single',{'id': 1}) }}" class="single-template">
                <div class="template">
                    <img class="image-template" src="{{ asset('assets/img/template3.png') }}" alt="Image de template">
                    <div class="textes-template">
                        <h5 class="titre-template">Spatial</h5>                      
                    </div>
                </div>
            </a>

        </div>
        {# FIN APERCUS TEMPLATES #}
    
    </main>

{% endblock %}