{% extends ('base.html.twig') %}

{% block body %}

    {# FEATURE #}
    <div class="feature">
        {# Titre feature #}
        <div class="titre-feature">
            <span class="gros-titre">Des <span style="font-weight: 600;">ressources</span> pour</span><br>vos <span style="font-weight: 600;">sites web</span>
        </div>

        {# Présentation du site #}
        <div class="intro">
            <span class="part1">Découvrez notre <span style="font-weight: 600;">contenu exclusif</span>,</span>
            <br>
            <span class="part2">conçu par <span style="font-weight: 600;">NDesign</span>, en suivant</span>
            <br>
            <span class="part3">les toutes <span style="font-weight: 600;">dernières tendances</span>.</span>
        </div>
        <img src="{{ asset('assets/img/bg-p-index.jpg') }}" alt="Image feature" class="img-feature">
    </div>
    {# END FEATURE #}

    {# CONTENU PRINCIPAL #}
    <main role="main">

        {# APERCUS TEMPLATES #}
        <span class="templates">
            {% for produit in produits %}
            <a href="{{ path('app_single', {'id': produit.id }) }}" class="single-template">
                <img src="{{ asset('assets/img/mini'~ produit.id ~'.png') }}" alt="Image de template" class="image-template">
                <h5 class="titre-template">{{produit.titre}}</h5>
            </a>
            {% endfor %}
            

        <div class="clear"></div>        

        </span>
        {# FIN APERCUS TEMPLATES #}

        <a href="{{ path('app_all')}}" class="plus-ressources">Voir toutes les ressources</a>
        
    </main>
    {# FIN CONTENU PRINCIPAL #}

{% endblock %}

