{% extends 'base.html.twig' %}

{% block body %}
{{dump(app.session)}}
<main role="main">
    <h3>Votre commande s'élève à {{sum}} &euro; </h3>
    <form action ="" method="POST" >
        <input type="text" placeholder="Entrez les numeros de votre carte de paiement" name="code"/>


        <select >
            {% for i in 1..12 %}
            <option value="{{ i }}" name="month">{{ i }}</option>
            {% endfor %}
        </select>
        <select>
            {% for i in 18..22 %}
            <option value="{{i}}" name="year">{{ i }}</option>
            {% endfor %}

        <input type= "text" placeholder="Cryptogramme" name="crypt">
        <a href="{{ path('app_paye') }}">
            <input type="submit" value="payer">
        </a>
    </form>
</main>


{% endblock body %}