{% extends 'base.html.twig' %}

{% block body %}
{# {{dump(app.session)}} #}

    {# CONTENU PRINCIPAL #}
    <main role="main">
    
        <h3 class="indication-prix">Votre commande s'élève à {{sum}} &euro;</h3>

        <form action="" method="POST" class="form-pay">

            <label for="" class="label">Numéro de carte</label>
            <input type="text" class="input-text">

            <label for="" class="label">Mois et année d'expiration</label>            
            <select class="selection-pay">
                {% for i in 1..12 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

            <select class="selection-pay">
                {% for i in 2018..2022 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

            <label for="" class="label">Cryptogramme</label>
            <input type="text" class="input-text-crypto">

            <input type="submit" value="Payer" class="pay-button">

        </form>

    </main>


{% endblock body %}