{% trans_default_domain 'FOSUserBundle' %}
{# {% extends 'base.html.twig' %} #}

{% block body %}

<div class="register">

            <h2>Inscription</h2>
            {% if not form.vars.valid %}
            <div class="">
                Le formulaire contien des erreur
            </div>
            {% endif %}
                {{ form_start(form) }}
                {{ form_widget(form.email, {
                    'attr':{
                        'class': '',
                        'placeholder': 'E-Mail',
                        
                    }
                }) }}
                <br>                
                {{ form_widget(form.username, {
                    'attr':{
                        'class': '',
                        'placeholder': 'Pseudo',
                        
                    }
                }) }}
                <br>                
                {{ form_widget(form.plainPassword.first, {
                    'attr':{
                        'class': '',
                        'placeholder': 'Mot de passe',
                        
                    }
                }) }}
                <br>
                {{ form_widget(form.plainPassword.second, {
                    'attr':{
                        'class': '',
                        'placeholder': 'Repetez votre mot de passe',
                        
                    }
                }) }}
                <br>
                <button type="submit" class="">S'inscrire</button>
                {{ form_end(form) }}
     
</div>
{% endblock body %}

{% block javascripts %}
{% endblock %}

