{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

    {# Image inscription #}
    <div class="thumbnail">
        <img src="{{ asset('assets/img/bg-p-inscription.jpg') }}" alt="" class="img-inscription">
        <div class="traduction">*Bienvenue</div>        
    </div>

    {# CONTENU PRINCIPAL #}
    <main role="main">

        <div class="register">

            {# Icône user inscription #}
            <div class="bloc-icone-user">
                <img src="{{ asset('assets/img/user.svg') }}" alt="" class="icone-user-inscription">            
            </div>

            {# Formulaire d'inscrition #}
            {{ form_start(form, {
                'attr' :{
                    'class': 'form-inscription'
                }
            }) }}

                {# Champ email #}
                {{ form_widget(form.email, {
                    'attr':{
                        'class': 'input-text',
                        'placeholder': 'Email'
                    }
                }) }}

                {# Champ pseudo #}
                {{ form_widget(form.username, {
                    'attr':{
                        'class': 'input-text',
                        'placeholder': 'Pseudo'
                    }
                }) }}

                {# Champ mot de passe #}
                {{ form_widget(form.plainPassword.first, {
                    'attr':{
                        'class': 'input-text',
                        'placeholder': 'Mot de passe'
                    }
                }) }}

                {# Champ confirmation mot de passe #}
                {{ form_widget(form.plainPassword.second, {
                    'attr':{
                        'class': 'input-text',
                        'placeholder': 'Confirmation du mot de passe'
                    }
                }) }}

                <input type="submit" class="bouton-inscription" value="Inscription"/>

            {{ form_end(form) }}
     
        </div>
    
    </main>
    {# FIN CONTENU PRINCIPAL #}

{% endblock body %}

{% block javascripts %}{% endblock %}