{# {% trans_default_domain 'FOSUserBundle' %} #}


{% extends 'base.html.twig' %}

{% block body %}
<div class="register">
<div class="container">
    <div class="row">
        <div class="col-sm-4 mr-auto ml-auto">
            <h2>Inscription</h2>
            {% if not form.vars.valid %}
            <div class="alert alert-danger">
                Le formulaire contien des erreur
            </div>
            {% endif %}
                {{ form_start(form) }}
                {{ form_widget(form.email, {
                    'attr':{
                        'class': 'form-control email',
                        'placeholder': 'E-Mail',
                        
                    }
                }) }}
                <br>                
                {{ form_widget(form.username, {
                    'attr':{
                        'class': 'form-control username',
                        'placeholder': 'Pseudo',
                        
                    }
                }) }}
                <br>                
                {{ form_widget(form.plainPassword.first, {
                    'attr':{
                        'class': 'form-control password',
                        'placeholder': 'Mot de passe',
                        
                    }
                }) }}
                <br>
                {{ form_widget(form.plainPassword.second, {
                    'attr':{
                        'class': 'form-control repeat-password',
                        'placeholder': 'Repetez votre mot de passe',
                        
                    }
                }) }}
                <br>
                <button type="submit" class="btn btn-success btn-block">S'inscrire</button>
                {{ form_end(form) }}
        </div>
    </div>
</div>
</div>
{% endblock body %}

{% block javascripts %}
        {% javascripts '@Script_CheckForm_Registration' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}

